
.firstrow{
    background-color: #F5ABC9 !important;
}
.height{
    height: 100px;
}
.qwer{
    width: 23.5%;
    background-color: #E05297 !important;
}
.second{
    width: 49%;
    background-color: #9DDFD3 !important;
}
.lasttwo{
    width: 23.5%;
    background-color: #FB9300 !important;
}
.lastone{
    width: 74.5%;
    background-color: #61B15A !important;
}